body {
	font-family: 'Times New Roman', Times, serif;
}

p{
	font-family: 'Poppins', sans-serif;

	text-align: justify;
	font-weight: 100;
	line-height: 41px;
}

@media screen and (max-width: 600px) {
	body {
	  max-width: 400px;
	}
  }
	
  /* Main header styles */
  #main {
	font-size: 3.5vw;
	color: rgba(255, 255, 255, 1);
	height: 800px;
	padding-right: 520px;
	padding-top: 180px;
	background: linear-gradient(to bottom, transparent, black 100%),
	  url("https://www.mindroaster.com/wp-content/uploads/2019/08/752143.png")
		no-repeat center;
	background-position-y: 10%;
	background-size: cover;
	text-align: center;
	border-radius: 6%;
  }
  .arrow {
	margin-top: 30px;
	width: 40px;
	max-width: 92%;
  }
  .arrow:hover {
	transform: scale(2);
	transition: all 800ms ease;
  }
  
  .quote {
	padding-bottom: 4.5vw;
	font-family: italic;
	font-size: 3.5vw;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .quote-footer {
	text-align: center;
	padding-left: 35%;
	margin: -40px;
	color: #787878;
	font-style: italic;
  }
  
  #main h1 {
	font-size: 9.5vw; /* 110px/16px  */
	font-weight: normal;
	line-height: 1;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
	  0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
	  0 20px 20px rgba(0, 0, 0, 0.15);
	margin-top: 10px;
	margin-bottom: 10px;
	letter-spacing: 15px;
	word-spacing: 13px;
  }
  
  /*Tribute info styles*/
  .body {
	padding: 10px;
  }
  
  .naruto {
	float: left;
  }
  .tribute,
  .one,
  .two, 
  .tribute2 {
	padding-right: 29px;
}
.tribute {
	font-weight: 100;
	font-size: 1.7vw;
	font-family: "Raleway", sans-serif, bold;
  }
  
  .one {
	color: orange;
	font-size: 2.5vw;
	font-family: "Raleway", sans-serif, bold;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .two {
	font-size: 1.7vw;
	font-family: "Raleway", sans-serif, bold;
  }
  
  #naruto2 {
	padding-top: 200px;
	float: right;
	width: auto;
	max-width: 42%;
	display: block;
  }
  .h4 {
	font-family: "Raleway", sans-serif;
	padding-right: 300px;
	font-size: 1.7vw;
	padding-top: 40px;
	padding-left: 30px;
  }
  
  .naruto-sage {
	float: left;
	padding-top: 80px;
  }
  .tribute2 {
	font-size: 1.7vw;
	font-family: "Raleway", sans-serif, bold;
  }
  
  .three {
	color: orange;
	font-size: 2.5vw;
	font-family: "Raleway", sans-serif, bold;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .naruto7th {
	float: right;
	padding-top: 79px;
  }
  .tribute3 {
	padding-top: 100px;
	padding-left: 30px;
	font-size: 1.7vw;
	font-family: "Raleway", sans-serif, bold;
  }
  
  /*link styles*/
  
  #tribute-link {
	font-size: 2.5vw;
	/* font-family: "Raleway", sans-serif, bold; */
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .link {
	text-align: center;
	padding-top: 120px;
	font-size: 2.5vw;
	/* font-family: "Raleway", sans-serif, bold; */
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #image {
	padding-top: 2vw;
	max-width: 20%;
	display: block;
	margin-left: auto 0;
	margin-right: auto 0;
  }
  
  